
$pop_font : "Poppins", sans-serif;
$lato_font : "Lato", sans-serif;
$mont_font : "Montserrat", sans-serif;
$wind_font : "WindSong", cursive;

$bg-color : #081b29;
$negro : #000;
$blanco : #fff;
$cyan : #00ffff;

$azul : #bbdffb;
$azul-rey : #00a2dd;

// Media Queries
$telefono: 480px;
$tablet: 769px;
$desktop: 1200px;
$dexktopXL: 1400px;